.btn-container {
    display: flex;
}

.btn-container button {
 background-color: #00285F;
 height: 40px;
 width: 174px;
}

.btn h6 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 40px;
    background-color: #00285F;
}

.btn-container h2 {
    display: flex;
   color:#585858;
   font-size: 18px;
   justify-content: center;
   align-items: center;
}

@media (min-width: 576px) {
    .btn-icon-container {
        width: 174px;
        height: 40px;
    }

    .btn h6 {
        font-size: 14px;
    }
}