.product-card {
  margin-bottom: 30px;
  width: 258px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0;
  
}

.card-top-container img {
    width: 220px;
    height: 165px;
}

.card-bottom-container {
  padding: 38px 22px 15px 20px;
  justify-content: center;   
}

.card-bottom-container h6 {
  font-size: 18px;
  color: #263238;
  padding-bottom: 18px;
  text-align: center;
}

@media (min-width: 370px) {
  
  .product-card {
    width: 300px;
  }

}

@media (min-width: 576px) {
  
  .product-card {
    width: 258px;
  }

}

@media (min-width: 768px) {
  
  .product-card {
    width: 349px;
  }

   

}

@media (min-width: 992px) {
  
  .product-card {
    width: 296px;
  }

   

}

@media (min-width: 1200px) {
  
  .product-card {
    width: 306px;
  }

   

}